/* global variables*/
:root {
  font-family: 'Roboto Condensed', sans-serif;
 
   /* palette*/
   --primary-color: #000000;
   --secondary-color: #ffffff;
   --tertiary-color: #AAAAAA;
   --marvel-red: #EC1D24;
 
   --table-breakpoint: 834px;
   --mobile-breakpoint: 480px;
 
   --font-size-xxl: 2.5rem;
   --font-size-xl: 2rem;
   --font-size-l: 1.5rem;
   --font-size-m: 1rem;
   --font-size-sm: 0.875rem;
   --font-size-p-xs: 0.75rem;
 
   --font-weight-bold: 700;
   --font-weight-semibold: 500;
   --font-weight-normal: 400;
}

/* reset body css */
body {
 margin: 0;
}

/* remove default button styles */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* remove default margin from headings and paragraphs */
h1, h2, h3, p {
  margin: 0;
}

/* remove default input styles */
input {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}