.hero-card {
  height: 245px;
  width: 188px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 95% 100%, 100% 95%);
  clip-path: polygon(100% 0, 0 0, 0 100%, 95% 100%, 100% 95%);

  @media only screen and (max-width: 834px) {
    width: 170px;
  }
}

.hero-card img {
 height: 189px;
 width: 100%;
 border-bottom: 5px solid var(--marvel-red);
}

.hero-card button {
  height: 56px;
  width: 100%;
  padding: 16px;
  padding-bottom: 24px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  transition: all .5s linear;
	color: white;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.hero-card:hover > button {
  background-color: var(--marvel-red);  
	color: black;
}

.hero-card button > div > svg > path{
  transition: all .5s linear;
}

.hero-card:hover > button > div > svg > path{
  fill: white
}

.hero-card button p {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  color: var(--secondary-color);
  text-transform: uppercase;
}